$green: #8ECC7B;
$purple: #D499EF;
$red: #F77B62;
$blue: #3F7EA5;

@mixin poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}
@mixin poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}
@mixin poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
img {
    border-radius: 10px;
}

#image {
    width: 320px;
    
}
#edit-gear {
    width: 42px;
}
#logo {
    width: 68px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.6rem;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }
}
.home-btns {
    width: 184px;
    height: 36px;
    background-color: $green;
    border-radius: 10px;
    border-style: none;
    @include poppins-medium();
}
#my-list-btn {
    background-color: $purple;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.6rem;
}
.list-card {
    border: solid black 1px;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.list-text {
    @include poppins-medium();
    >p {
        padding-bottom: 8px;
    }
}
.list-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editListBtn, .deleteListBtn {
    width: 48px;
    height: 24px;
    border-radius: 10px;
    text-align: center;
    background-color: $green;
    @include poppins-regular();
}
.deleteListBtn{
    background-color: $red;
}
.inputFields {
    border-radius: 5px;
    border: solid black 1px;
    width: 224px;
    height: 32px;
}
#edit-user {
    margin-top: 15rem;
}
#edit-user>div {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.editBtn {
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 20px;
}
#deleteBtn {
    background-color: $red;
}
#saveBtn {
    background-color: $green;
}