#items-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item-photo {
  width: 95px;
  height: 104px;
}

.item-card {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 187px;
  border: solid black 1px;
  border-radius: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.formContainer > input {
  width: 280px;
}

#item-link, #item-nolink {
  grid-column: 1/span 3;
  font-weight: 300;
  font-style: normal;
}

#item-link {
  color: internal value;
  text-decoration: underline;
  cursor: auto;
}

.item-photo {
  grid-column: 3;
  grid-row: 2/span 3;
}

#item-text {
  grid-column: 1/span 2;
  grid-row: 2/span 2;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}
#item-text > p {
  padding-bottom: 1rem;
}

#login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 89px;
}

#logo-login {
  width: 142px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-login, #input-signup {
  display: flex;
  flex-direction: column;
  width: 224px;
  gap: 1.5rem;
  align-items: center;
}

.login {
  display: flex;
  width: 120px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background-color: #8ECC7B;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#signup {
  background-color: #195F8B;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 10px;
}

#image {
  width: 320px;
  margin-bottom: 4rem;
}

#edit-gear {
  width: 42px;
}

#logo {
  width: 68px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem;
}
@media (min-width: 790px) {
  nav {
    width: 60vw;
    margin: 1.6rem auto;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.home-btns, #new-list, .BTN, #new-item {
  width: 184px;
  height: 36px;
  background-color: #8ECC7B;
  border-radius: 10px;
  border-style: none;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

#new-list, #logoutBtn, #new-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-bottom: 100px;
  margin-top: 30px;
}

#my-list-btn {
  background-color: #D499EF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.list-card {
  border: solid black 1px;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

@media (min-width: 790px) {
  #list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.list-text {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}
.list-text > p {
  padding-bottom: 8px;
}

.list-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#listimg {
  width: 70px;
}

.item-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.editListBtn, .deleteListBtn, .editItemBtn, .deleteItemBtn, .saveBtn {
  width: 48px;
  height: 24px;
  border-radius: 10px;
  background-color: #8ECC7B;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.deleteListBtn, .deleteItemBtn {
  background-color: #F77B62;
}

.inputFields {
  border-radius: 5px;
  border: solid black 1px;
  width: 224px;
  height: 32px;
}

#edit-user {
  margin-top: 5rem;
}

#edit-user > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.editBtn {
  width: 120px;
  height: 32px;
  border: none;
  border-radius: 20px;
}

#deleteBtn {
  background-color: #F77B62;
}

#saveBtn {
  background-color: #8ECC7B;
}

#add-list, #input-add-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}

#backBtn {
  margin-left: 20px;
}
@media (min-width: 790px) {
  #backBtn {
    margin-left: 20vw;
  }
}

#logout, #editText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#logout > a, #editText > a {
  margin: 20px auto;
}
#logout > p, #logout h2, #editText > p, #editText h2 {
  text-align: center;
}/*# sourceMappingURL=style.css.map */